<footer class="footer text-center bg-dark fixed-bottom">
	<div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="{{ path('app_propos') }}">A propos</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="#">Conditions générales d'utilisation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="#">Vos données</a>
                </li>
            </ul>
	</div>
</footer>