<footer class="footer text-center bg-dark">
	<div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="list-inline-item nav-link" href="#">A propos</a>
                </li>
                <li class="list-inline-item">
                    <a class="list-inline-item nav-link" href="#">Mentions légales</a>
                </li>
                <li class="list-inline-item">
                    <a class="list-inline-item nav-link" href="#">Conditions générales d'utilisation</a>
                </li>
                <li class="list-inline-item">
                    <a class="list-inline-item nav-link" href="#">Vos données</a>
                </li>
            </ul>
	</div>
</footer>