{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}




<h1>Status "Producteur" à valider</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>






{% if is_granted ("ROLE_CLIENT") %}

{% endif %}


{% if is_granted ("ROLE_PRODUCTEUR") %}

{% endif %}






{% endblock %}