{% extends 'base.html.twig' %}

{% block title %}Nouveau Point Relai{% endblock %}

{% block body %}
    <h1>Créer un Point Relai</h1>

    {{ include('drive/_form.html.twig') }}

    <a href="{{ path('profil_index') }}">Retour</a>
{% endblock %}
