{% extends 'base.html.twig' %}

{% block title %}Nouveau Point Relai{% endblock %}

{% block body %}
    <h1 class="my-5">Ajouter un point relais</h1>

    {{ include('drive/_form.html.twig') }}

    <div class="my-5"><a href="{{ path('profil_index') }}">Retour</a></div>

{% endblock %}
